* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#searchInput {
    width: 900px;
    display: block;
    margin: 20px 60px;;
    font-size: 16px;
    padding: 12px 20px 12px 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.form__error, .form__error-edit {
    position: absolute;
    border: 2px solid red;
    width: 80%;
    background: white;
    padding: 10px;
    font-size: 18px;
    top: 40px;
    left: 40px;
    border-radius: 5px;
    text-align: center;
    visibility: hidden;
}

.form__error::before, .form__error-edit::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid red;
}

.table {
    width: 900px;
    margin-left: 60px;
}

.table__row-delete {
    color: red;
    cursor: pointer;
}

.table__row-edit {
    color: dodgerblue;
    cursor: pointer;
}

.table__head, .table__row {
    display: flex;
}

.table__head:first-child {
    cursor: pointer;
}

.table__head div, .table__row div {
    width: 20%;
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    border-right: none;
    font-size: 20px;
    word-wrap: break-word;
}

.table__head div:last-child {
    cursor: default;
}

.table__head div:last-child:hover {
    background-color: lightgray;
}

.table__row div {
    border-top: none;
}

.table__head div {
    background-color: lightgray;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.table__head div:hover, .table__head div:focus {
    background-color: darkgray;
}

.table__head div:last-child, .table__row div:last-child {
    border-right: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*FORM ADD*/
.form {
    display: flex;
    flex-direction: column;
    width: 350px;
    position: absolute;
    right: 90px;
    top: 86px;
}

.form input {
    border: 2px solid black;
    border-bottom: none;
    outline: none;
    padding: 10px;
    font-size: 22px;
}

.form input:last-child {
    border-bottom: 2px solid black;
}

.form__button, .form__button-edit {
    cursor: pointer;
    background-color: lightgray;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.form__button:hover, .form__button:focus {
    background-color: darkgray;
}

.form__button-edit:hover, .form__button-edit:focus {
    background-color: darkgray;
}


/*POPUP FORM EDIT*/
.close {
    position: absolute;
    top: -48px;
    right: -33px;
    color: red;
    font-size: 55px;
    font-weight: 700;
    transform: rotate(45deg);
    cursor: pointer;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    visibility: hidden;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    top center no-repeat;
    background-size: cover;
}

.popup form {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.popup.show {
    visibility: visible;
}

@media (max-width: 1400px) {
    #searchInput {
        margin-top: 280px;
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 350px;
        position: absolute;
        right: auto;
        left: 90px;
        top: 20px;
    }
}